nav{
    position: fixed;
    top: 0;
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
    background-color: white;
}

.div-header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.div-logo {
    height: 70px;
    padding: 0 auto;
}