.univ-card-main {
    height: 300px;
    width: 240px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px 20px 20px 20px;
}

.univ-img-container {
    height: 200px;
    width: 240px;
    border-radius: 20px 20px 0 0;
}

.univ-img {
    height: 100%;
    width: auto;
    object-fit: cover;
    border-radius: inherit;
}

.univ-name {
    font-weight: bold;
    margin: 5px 5px 5px 10px;
    font-size: 14px;
}

.location-container {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin: 5px 5px 5px 10px;
    font-size: 14px;
}

.location-icon {
    height: 14px;
    margin: auto 10px auto 5px;
    padding: auto;
}

.num-program {
    margin: auto 5px auto 10px;
    font-size: 14px;
}

